.gradient-text {
  background: linear-gradient(to right, #67deff, #ee66f9);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-color {
  background: linear-gradient(to right, #67deff, #ee66f9);
}
