@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  color: #fff;
}

.main-content > div {
  min-height: 100vh;
  padding: 70px 16px 30px;
}

.linear-text {
  background: linear-gradient(112.21deg, #67deff 1.98%, #ee66f9 98.02%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 0.9em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.wallet-button {
  /* border: 1px solid;
  border-image-source: linear-gradient(
    112.21deg,
    #67deff 1.98%,
    #ee66f9 98.02%
  ); */
  background: linear-gradient(112.21deg, #67deff 1.98%, #ee66f9 98.02%),
    linear-gradient(
      112.21deg,
      rgba(103, 222, 255, 0.5) 1.98%,
      rgba(238, 102, 249, 0.5) 98.02%
    );
  border-radius: 25px;
}
.wallet-button-disconnect {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 25px;
  padding: 0 12px;
  font-weight: bold;
}
.wallet-button-disconnect img {
  margin-right: 5px;
}

.parallax {
  overflow-x: auto;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}
.parallax::-webkit-scrollbar {
  display: none;
}
.hiddenscrollbar::-webkit-scrollbar{
  display: none;
}
.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.titleItem {
  border: 1px solid transparent;
  border-radius: 10px 0 ;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(112.21deg, #67DEFF 1.98%, #EE66F9 98.02%);
}
