@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.wallet-button {
  /* border: 1px solid;
  border-image-source: linear-gradient(
    112.21deg,
    #67deff 1.98%,
    #ee66f9 98.02%
  ); */
  background: linear-gradient(112.21deg, #67deff 1.98%, #ee66f9 98.02%),
    linear-gradient(
      112.21deg,
      rgba(103, 222, 255, 0.5) 1.98%,
      rgba(238, 102, 249, 0.5) 98.02%
    );
  border-radius: 25px;
}
.wallet-button-disconnect {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 25px;
  padding: 0 12px;
  font-weight: bold;
}
.wallet-button-disconnect img {
  margin-right: 5px;
}
